{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if object_list %}
        <table>
            <thead>
                <tr>
                    <th>{% trans "Created" %}</th>
                    <th>{% trans "Type" %}</th>
                    <th>{% trans "Is accessible" %}</th>
                    <th>{% trans "Edit" %}</td>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.created }}</td>
                        <td>{{ object.type }}</td>
                        <td>{{ object.is_accessible }}</td>
                        <td><a href="{% url 'secure_url:secured-entity-detail-view' object.pk %}" class="btn">{% trans "Details" %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="content-centered">
            <div class="centered-container">
                <p class="text-center">{% trans "No items yet." %}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
