{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="content-centered">
    <div class="centered-container full-width text-center">
        {% if request.GET.created %}
            <p>{% trans "Thank you for uploading this item." %}</p>
        {% endif %}

        <p>
            {% trans "Secured URL for uploaded entity:" %}
            <a href="{{url}}" target="_blank">{{url}}</a>
            <button class="btn btn-small copy" data-clipboard-text="{{url}}">{% trans "copy" %}</button>
        </p>

        <p>
            {% trans "Password:" %} {{ object.password }}
            <button class="btn btn-small copy" data-clipboard-text="{{ object.password }}">{% trans "copy" %}</button>
        </p>

        <p>
            <form method="post" action="{% url 'secure_url:secured-entity-regenerate-password-view' object.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-small">{% trans "Regenerate password" %}</button>
            </form>
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script>
        new ClipboardJS('.copy');
    </script>
</div>
{% endblock %}
